/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap');

@font-face {
  font-family: "Braxton";
  src: url('../fonts/Braxton\ Free.otf');
  font-weight: normal;
  font-style: normal;}

*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box}

div{
  border: 0px solid #000 !important;}

:root {
  --white: #fff;
  --color1: #604A1A;
  --color2: #F29F05;
  --color2-1: #d48b02;
  --color3: #F6D550;
  --color4: #A61717;
  --sombra: #AD801D;
  --fondo: #fafbfd;}

::placeholder{
  color: rgb(109, 109, 109);
  letter-spacing: 1px;}

::selection { 
color: rgb(0, 0, 0);  
text-shadow: 0px 0px 0px #000,0px 0px 0px #000,0px 0px 0px #000;
background: rgba(255, 255, 255, 0.63); }

/*footer*/

footer{
  height: 78vh;
  border: 0px solid #000;
  position: relative;
  overflow: hidden;
}

.footer1{
  background-image: url(../images/bg.jpg);
  background-size: cover;
  height: 48vh;
  width: 100%;
  -webkit-mask-image: url(../images/bg-footer2.svg);
  mask-image: url(../images/bg-footer2.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  z-index: 10;
  position: absolute;
  opacity: 1;
  filter: blur(100px);
}

.footer2{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 48vh;
    width: 100%;
    -webkit-mask-image: url(../images/bg-footer3.svg);
    mask-image: url(../images/bg-footer3.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: 10;
    position: absolute;
    opacity: 0;
    filter: blur(100px);
}

.footer3{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    height: 80vh;
    width: 100%;
    -webkit-mask-image: url(../images/bg-footer.svg);
    mask-image: url(../images/bg-footer.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: 11;
    top: 9vh;
    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 0px solid #000;
}

.footer4{
  height: 8vh;
  width: 100%;
  position: absolute;
  bottom: -1vh;
  opacity: 1;
  z-index: 93;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer5{
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 8vh;
  width: 100%;
  z-index: 94;
  position: absolute;
  filter: blur(5px);
  bottom: -1vh;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer6{
  height: 8vh;
  width: 100%;
  position: absolute;
  bottom: -1vh;
  opacity: 1;
  z-index: 95;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p{
  color: rgb(0, 0, 0);
}

.icon_footer{
  color: rgba(0, 0, 0, 0.473);
  margin: 0px 15px 0px 15px;
  top: -1vh;
  position: relative;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.icon_footer:hover{
  color: rgb(0, 0, 0);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/*Info*/

.info__container{
  width: 70%;
  border: 0px solid rgb(5, 20, 240);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Form*/

.info__container--form{
  width: 50%;
  border: 0px solid #000;
}

.form{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form input, .form textarea{
  font-size: 18px;    
  font-weight: 500;
  font-family: 'KoHo', sans-serif;
  color: rgb(109, 109, 109);
  margin-bottom: 3vh;
  width: 70%;
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--color2);
  margin-left: 0%;
  margin-right: 0%;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.form input:focus, .form textarea:focus{
background: linear-gradient(to bottom,transparent,rgba(17, 17, 17, 0.034));
outline: none;
border-bottom: 2px solid var(--color4);
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
}

#mensaje{
  height: 10vh;
}

.form button{
  height: 40px;
  width: 30%;
  margin-top: 30px;
  font-size: 15px;
  color: var(--color4);
  background-color: var(--color2);    
  text-shadow: 1px 1px 2px #777;
  cursor: pointer;
}

/*Buttom*/

button.animated-button:link, button.animated-button:visited{
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #fff;
  font-size:14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 30px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

button.animated-button:link:after, button.animated-button:visited:after{
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
  border-radius: 30px;
}

button.animated-button:link:hover, button.animated-button:visited:hover{
  color: #FFF;
  text-shadow: none;
  border-radius: 30px;
}

button.animated-button:link:hover:after, button.animated-button:visited:hover:after{
  height: 450%;
  border-radius: 30px;
}

button.animated-button:link, button.animated-button:visited{
  position: relative;
  display: block;
  margin: 20px auto 0;
  padding: 12px 7px;
  color: #fff;
  font-size:14px;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;  border-radius: 200px;
}

.sent{
  border-radius: 30px;
  border: 10px solid #000;
}

/* --Victoria Button_4-- */

button.animated-button.thar-three{
  width: 200px;
  border-radius: 30px;
  color: #ffffff;
  font-weight: 800;
  font-size: 14px;
  font-family: 'KoHo', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  background-color: #F7CA18;
}

button.animated-button.thar-three:hover{
  color: #000 !important;
  background-color: #ffffff00;
  border: 2px solid rgba(248, 248, 248, 0.479);
  border-radius: 30px;
}

button.animated-button.thar-three:hover:before{
  left: 0%;
  right: auto;
  width: 100%;
}

button.animated-button.thar-three:before{
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: rgba(248, 248, 248, 0.479);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 30px;
}

/*INFORMACION DE CONTACTO*/

.info__container--description{
  width: 50%;
  border: 0px solid #000;
}

.description__title{
  font-family: Braxton;
  font-size: 40px;
  color: var(--color4);
  margin: -60px 20px 20px 10px;
}

.description__subtitle{
  color: #f29f05;
  font-family: Braxton;
  font-size: 30px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.555),1px 1px 2px rgba(0, 0, 0, 0.555),2px 2px 3px rgba(0, 0, 0, 0.555);
  text-align: left;
  margin: 0px 30px 10px 0px;
}

.description__text{
  font-size: 18px;
  font-family: koho, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  width: 70%;
}

/*RESPONSIVE*/

@media screen and (max-width: 1220px){ 
  footer{
    height: 109vh;
}
  
.footer{
    height: 100vh;
}

.footer3{
    height: 100vh;
}

.footer5{
      background-position: top;
}
  
.info__container--form{
      width: 70%;
      margin-bottom: 0vh;
}
  
.info__container--description{
      width: 90%;
      margin-bottom: 9vh;
}
  
.info__container{
      width: 100%;
      margin-left: 5vh;
      display: block;
  
}
}

@media screen and (max-width: 800px){

.footer5{
    background-position: top;
}

.info__container--form{
    width: 100%;
    margin-bottom: 0vh;
}

.info__container--description{
    width: 90%;
    margin-bottom: 9vh;
}

.info__container{
    width: 100%;
    margin-left: 5vh;
    display: block;

}

.description__text{
  width: 100%;
}
}